<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121184936-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-121184936-1');
</script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8284554096460532",
          enable_page_level_ads: true
     });
</script>

<link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link rel="shortcut icon" type="image/x-icon" href="/favicon/big.png">


<meta property="og:title" content="DUNPIC 던파 캐릭터검색 직업별 가이드 공략 커뮤니티">
<meta property="og:description" content="던파 캐릭터검색 직업별 가이드 공략 커뮤니티">
<meta property="og:site_name" content="DUNPIC">
<meta property="og:image" content="http://bbscdn.df.nexon.com/data6/commu/201901/173109_5c48264d24ea6.jpg">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

  <!-- Enchant menu CustomCSS -->
  <link href="/css/enchant.css" rel="stylesheet">

  <!-- Ajax Spinner CSS -->
  <link href="/css/spinner.css" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="/MDB/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/MDB/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/MDB/css/style-0.0.4.min.css" rel="stylesheet">

  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">

  <meta property="og:title" content="DUNPIC 던파 캐릭터검색 직업별 가이드 공략 커뮤니티">
  <meta property="og:description" content="던파 캐릭터검색 직업별 가이드 공략 커뮤니티">
  <meta property="og:site_name" content="DUNPIC">
  <meta property="og:image" content="http://bbscdn.df.nexon.com/data6/commu/201901/173109_5c48264d24ea6.jpg">
  
  <style type="text/css">
    /* Necessary for full page carousel*/
    html,
    body,
    .view {
      height: 100%;
    }

    /* Carousel*/
    .carousel,
    .carousel-item,
    .carousel-item.active {
      height: 100%;
    }

    .carousel-inner {
      height: 100%;
    }

    @media (min-width: 800px) and (max-width: 850px) {
      .navbar:not(.top-nav-collapse) {
        background: #1C2331 !important;
      }
    }

    li p{
        font-size: small;
    }
  </style>
  <style type="text/css">
    /* Chart.js */
    @-webkit-keyframes chartjs-render-animation {
      from {
        opacity: 0.99
      }

      to {
        opacity: 1
      }
    }

    @keyframes chartjs-render-animation {
      from {
        opacity: 0.99
      }

      to {
        opacity: 1
      }
    }

    .chartjs-render-monitor {
      -webkit-animation: chartjs-render-animation 0.001s;
      animation: chartjs-render-animation 0.001s;
    }
  </style>
</head>
<body>
<!-- Image and text -->
    
    <header>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <div class="container">
    
          <!-- Brand -->
          <a class="navbar-brand" href="/">
            <strong>DUNPIC</strong>
          </a>
    
          <!-- Collapse -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
            <!-- Left -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/">HOME
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/contents">CONTENTS</a>
              </li> -->
              <li class="nav-item  active_nav">
                <a class="nav-link waves-effect waves-light" href="/tip">
                  ENCHANT
                  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/tip/reinforce">
                  REINFORCE ✔️
                  <span class="sr-only">(current)</span>
                </a>
              </li>
            </ul>
            
    
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item">
                <a href="https://www.facebook.com/dunpic" class="nav-link waves-effect waves-light" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="mailto:redgee49@gmail.com" class="nav-link waves-effect waves-light" target="_blank">
                  <i class="far fa-envelope"></i>
                </a>
              </li>
            </ul>
    
          </div>
    
        </div>
      </nav>
    </header>

      <main class="mt-5 pt-5" style="    margin-bottom: 255px;">

        
        <div class="container">
         <section>
          <!-- Enchant Menu-->

          <div class="col-sm-10 col-lg-12 black-text wow fadeIn" style="visibility: visible;animation-name: fadeIn; text-align: center;">
                <ul class="equip_list">
                    <p style="background-color: #356bfba8;margin: 10px;border-radius: 5px;font-weight: 550;color: white;text-align: left;padding: 10px;">
                        DUNPIC.NET 의 서버유지 비용은 애드센스와 연결된 광고비로 유지됩니다.
                        <br>본 사이트를 유용하게 사용하고 계시다면 애드블록을 해제하여 광고를 클릭해주시면 감사하겠습니다 🙏
                        <br>
                    </p>
                    <li id="무기"	 	onClick="part_click(this.id)"><img src="https://img-api.neople.co.kr/df/items/668a01e877e6158c09826a705a3be5e7"><p>무기</p></li>
                    <li id="상의" 	onClick="part_click(this.id)"><img src="https://img-api.neople.co.kr/df/items/882733f65796bc593b702e697252a43b"><p>상의</p></li>
                    <li id="하의" 	onClick="part_click(this.id)"><img src="https://img-api.neople.co.kr/df/items/a2c412989dc08d2c631850f841ed643a"><p>하의</p></li>
                    <li id="어깨" 	onClick="part_click(this.id)"><img src="https://img-api.neople.co.kr/df/items/8f41a990a82e02524609423eb0d86c00"><p>어깨</p></li>
                    <li id="벨트" 	onClick="part_click(this.id)"><img src="https://img-api.neople.co.kr/df/items/fe721b88d372a99daf8c5c4f37603dbf"><p>벨트</p></li>
                    <li id="신발" 	onClick="part_click(this.id)"><img src="https://img-api.neople.co.kr/df/items/fe94e4a65c1f05387bf71e7a0c73fe7b"><p>신발</p></li>
                    <li id="팔찌" 	onClick="part_click(this.id)"><img src="https://img-api.neople.co.kr/df/items/4564b1ad619203459d2806ccee049967"><p>팔찌</p></li>
                    <li id="목걸이" 	onClick="part_click(this.id)"><img src="https://img-api.neople.co.kr/df/items/7e4a187a1339ff1aa61dc10ee62a0af4"><p>목걸이</p></li>
                    <li id="반지"		onClick="part_click(this.id)"><img src="https://img-api.neople.co.kr/df/items/8cfbe75d5d0d5e893f126b10bfd703c7"><p>반지</p></li>
                    <li id="보조장비"	onClick="part_click(this.id)"><img src="https://img-api.neople.co.kr/df/items/92056a6d3695e1ff283fc8c21280381c"><p>보장</p></li>
                    <li id="마법석" 	onClick="part_click(this.id)"><img src="https://img-api.neople.co.kr/df/items/b0088618e799a4b841e39a5ce8fbdfc6"><p>마법석</p></li>
                    <li id="귀걸이" 	onClick="part_click(this.id)"><img src="https://img-api.neople.co.kr/df/items/222e22daaa4ed1cc88a3fe22abae8017"><p>귀걸이</p></li>
                </ul>
            </div>
            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 part_list">
                <ul id="group"></ul>
            </div>
            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 option_list">
                <ul id="option"></ul>
            </div>
            <div align="center">
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
              <!-- 광고 -->
              <ins class="adsbygoogle"
                  style="display:block"
                  data-ad-client="ca-pub-8284554096460532"
                  data-ad-slot="5982981230"
                  data-ad-format="auto"
                  data-full-width-responsive="true"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
            </div>
            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card_list">
                <ul id="cards"></ul>
                <div id='my-spinner'>
                  <div><span>
                    <img src='//cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif'>
                  </span></div>
                </div>
            </div>

        </section>
        </div>
        
        <p class="msg" style="    text-align: center;
        padding: 45px;">
          <a href="http://developers.neople.co.kr" target="_blank">
            <img src="../img/bi.png" alt="Neople 오픈 API">
          </a>
        </p>
    </main>

      <footer class="page-footer text-center font-small wow fadeIn" style="visibility: visible; animation-name: fadeIn; position: fixed; width: 100%;">
        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2019 Copyright:
            <a href="http://dunpic.net" target="_blank"> dunpic.net</a>
          </div>
        <!--/.Copyright-->
  
      </footer>

      <script type="text/javascript" src="/MDB/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/MDB/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/MDB/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/MDB/js/mdb.min.js"></script>
    <div class="hiddendiv common"></div>
    <!-- Initializations -->
    <script type="text/javascript">
      // Animations initialization
      new WOW().init();
    </script>

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <script type="text/javascript" src="/js/enchant_0.0.4.js">
    </script>
	
</body>
</html>